.content {
    padding-block: 72px;
    gap: 50px;

    h2 {
        padding-bottom: 5%;
    }

    .title{
        font-size: 24px;
        font-weight: 600;
    }

    .form{
        margin-top: 30px;
        display: grid;
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
        grid-template-columns: repeat(2, 1fr);
    }

    .buttonModal{
        .activitySelected {
            display: flex;
            flex-wrap: wrap;

            button{
                margin: 0px 2px 1px 2px;
                padding: 16px;
            }
        }
        p{
            color: var(--input-label-color);

            span{
                color: var(--color-danger);
            }
        }
    }

    .error{
        color: var(--color-danger);
        padding: 0.5% 0%;
    }

    .buttonContainer {
        display: flex;
        justify-content: center;
    }

    .modalContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0px;

        select {
            border: 1px solid var(--color-grey);
        }

        button{
            margin-top: 50px;
        }
    }
}
