.input {
    width: 283px;
    height: 80px;
    gap: 4px;
    
    &.classic {
        .input__label{
            width: 70px;
            height: 26px;
            size: 16px;
            line-height: 25.6px;
            color: #515B6F;
        }

        .input__target {
            width: 100%;
            height: 50px;
            padding: 12px 16px;
            border: 2px solid var(--color-grey);
            cursor: text;
            transition: none;

            &:focus {
                border-color: var(--color-main);
                outline: none;
            }
        }
    }

    &.checkbox {
        .input__target {
            width: 24px;
            height: 24px;
            border-radius: 4px;
            -webkit-appearance: none;
            -moz-appearance: none;
            -o-appearance: none;
            outline: none;
            border: 2px solid var(--color-grey);
            cursor: pointer;

            &:checked {
                background-color: var(--color-main);
                border-color: var(--color-main);
                position: relative;

                &::before {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: larger;
                    color: var(--color-light);
                    content: '✔';
                    position: absolute;
                    inset: 0;
                }
            }
        }
    }
}
