.navbar {
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding-inline: 100px;
    border-bottom: 1px solid black;

    img {
        height: 75%;
        margin-top: 7px;
    }

    .links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        height: 100%;
        
        a {
            text-decoration: none;
        }
    }

    .login {
        @extend .links;
    }
}
