.iconBadge {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    background-color: var(--color-light-alpha-20);
    border-radius: 50px;

    > * {
        color: var(--color-light);
    }
}
