.input__required {
    color: var(--input-required-color);
}

label {
    color: var(--input-label-color);
}

.MuiFormControl-root {
    width: 100%;

    div {
        border-radius: 0px;
        color: (--color-grey-form);
        background-color: var(--color-light);

        input {
            transition: none;
        }

        fieldset {
            border: 1px solid var(--color-grey);
        }
    }
}