.dropdown {
    position: relative;

    .link {
        cursor: pointer;
    }

    &__child {
        position: absolute;
        opacity: 0;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        padding: 20px;
        height: 100%;
        width: auto;
        background-color: var(--base-color-neutral-inverted);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    &:hover {
        .dropdown__child {
            opacity: 1;
        }
    }
}
