* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  // A VOIR
  transition: all .2s linear, color 0s;
}

body {
  font-family: sans-serif;
  font-size: var(--text-size);
  background-color: var(--base-color-neutral-inverted);
  color: var(--text-color);

  // TODO : font-size des <h?>
  // Size à adaptées sur la homepage

  h1 {
    font-size: 53px;
  }

  h2 {
    font-size: 32px;
  }

  a {
    text-decoration: none;
    color: var(--text-color);
  }

  ul {
    li {
      list-style: none;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  p {
    font-family: Epilogue;
  }
}
