.offer{
    .pageContent{
        display: flex;
        gap: 5%;

        &Left{
            width: 70%;

            h2 {
                margin: 50px 0px 25px 0px;
                color: #25324B;
            }

            p {
                margin-top: 20px;
                color: #515B6F;
            }

            ul{
                li{
                    margin-top: 10px;

                    svg{
                        color: var(--color-success);
                        height: 14px;
                        width: 14px;
                        margin-right: 1%;
                    }

                }
            }

            .link{
                margin-top: 6%;
                padding-left: 5%;
                padding-right: 5%;
            }
        }

        &Right {
            width: 25%;

            h3{
                color: var(--color-main);
                margin: 50px 0px 25px 0px;
            }
        }
    }
}