.container {
    min-height: 100dvh;

    .section {
        margin-block: 50px;

        &.bg {
            color: var(--color-dark);
            background-color: var(--color-third);
            padding: 70px;
        }

        .progressBarList {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    :global {
        .list {
            margin-top: 20px;
            justify-content: left;
        }
    }
}