.container {
    min-height: 100dvh;
    padding-inline: 100px;

    .section {
        margin-block: 50px;
    }

    :global {
        .list {
            margin-top: 20px;
            justify-content: left;
        }
    }
}
