.header {
    .card {
        width: 100%;
    }
}

.load {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70dvh;

    .loader {
        margin: 20px auto;
    }
}
