.footer {
    background-color: var(--color-dark);
    
    &Container {
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    p {
        text-align: left;
        color: var(--color-grey);
    }

    .logoContainer, .createContainer {
        margin-top: 10px;
        width: 400px;
    }
    
    .logoContainer > * {
        margin-block: 10px;
    }

    .createContainer > * {
        margin-block: 20px;
    }

    .content {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        padding-block: 50px;
        color: var(--color-light);

        .createAccount {
            font-family: Epilogue;
            font-size: 18px;
            font-weight: 600;
            line-height: 28.8px;
            text-align: left;
            color: var(--color-light);
            margin-top: 10px;

            &Form {
                display: flex;
                flex-direction: row;
                gap: 8px;
                height: 50px;
            
                span {
                    font-weight: 700;
                }

                input::placeholder {
                    line-height: 25.6px;
                    text-align: left;
                    padding-left: 5px;
                }
            }
        }

        .logo {
            height: 60px;
            align-self: flex-start;
        }

        .links {
            display: flex;
            width: 400px;
            margin-top: 20px;

            .column {
                width: 400px;
                display: flex;
                flex-direction: column;
                gap: 20px;
    
                a {
                    font-family: Epilogue;
                    text-align: left;
                    color: var(--color-light);
                }
            }
        }
    }

    .divider {
        margin-inline: auto;
        height: 1px;
        background-color: var(--color-third);
    }

    .bottom {
        display: flex;
        justify-content: space-between;
        padding-block: 20px;
        color: var(--color-light);

        p {
            color: var(--color-dark-grey);
        }

        .links {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            height: 100%;

            a {
                text-decoration: none;
            }
        }
    }
}
