.footer {
    background-color: var(--color-dark);
    height: 150%;

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 50px 75px;
        color: var(--color-light);

        .column {
            width: 400px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .logo {
                height: 60px;
            }

            a {
                color: var(--color-light);
            }
        }
    }

    .divider {
        width: 90%;
        margin-inline: auto;
        height: 1px;
        background-color: var(--color-third);
    }

    .bottom {
        display: flex;
        justify-content: space-between;
        padding-inline: 100px;
        padding-block: 20px;
        color: var(--color-light);

        .links {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            height: 100%;

            a {
                text-decoration: none;
            }
        }
    }
}
